@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Geologica:wght,CRSV@100..900,0&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Unbounded:wght@200..900&display=swap');

@theme {
  --font-Inter: "Inter", sans-serif;
}

@theme {
  --color-blaa-200: #0A0A0A;
  --color-imgborder: #8B5CF6;
  --text-14pp-: 14px;
  --text-12pp: 12px;
  --text-18pp: 18px;
  --color-form-200: #48327C;
  --text-grenn-200: #A3A3A3;
  --color-bord: #8B5CF666;
  --color-bod: #1B1A1C;
  --color-bod-2: #0B0B0B;
  --color-bg-2: #483473;
  --color-bg-fot: #0F0D13;
  --text-42p: #42px;
}


.btn-turbo-glow {
  box-shadow:
    0px 0px 120px 0px #8B5CF666,
    0px 0px 80px 0px #8B5CF699,
    0px 0px 40px 0px #8B5CF6CC;
}


@import "tailwindcss";